<div class="component__inner actionplan__inner">
  {{> component this}}

  <div class="actionplan__main">
  {{#each _items}}
    <div class="actionplan__widget">
      <div class="actionplan__item-title">{{{title}}}</div>
      <input class="actionplan__item-textbox js-actionplan-textbox" type="text" size="250" maxlength="255" placeholder="{{{../placeholder}}}" data-id="input-{{@index}}" id="input-{{@index}}" aria-labelledby="input-{{@index}}-aria" value="">
    </div>
  {{/each}}

  <div class="actionplan__buttons button is-visible">
    <button class="actionplan__btn btn js-actionplan-export-click"  aria-label="{{{exportText}}}">
      {{{exportText}}}
    </button>
  </div>

  <div class="actionplan__message">
    {{{message}}}
  </div>

  <div class="actionplan__pdf-content">
    {{{pdf}}}
  </div>

  </div>


</div>

